[Unit]
Description=shortiepy URL Shortener
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/shortiepy serve
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
